body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

/*header*/
header {
    background-color: #f2f2f2;
    padding: 1rem 10px;
}
header span {
    color: #2e3440;
    font-size: 1.5rem;
    font-weight: 900;
}

/*nav*/
nav {
    background-color: #a35042;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    height: 48px
}
nav a {
    padding: .83rem 1rem;
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    color: #2e3440;
    font-weight: 700;
}
nav li.current a {
    background-color: #f2f2f2;
}
nav li a:hover {
    color: white;
}
/*main*/
main {
    padding: 1rem 10px;
}
 
main h1 {
    color: #590902;
}
main h2 {
    color: #a35042;
    margin-bottom: .2rem;
}
main p {
    margin: 0;
    color: #333;
}
main ol {
    padding: .5rem 30px;
    background: #efefef;
}

main dl dt {
    color:#2e3440;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: .2rem;
}
main dl dd {
    color: #590902;
    font-size: .8rem;
    margin-left: 25px;
}
main ul {
    list-style-type: circle;
}
main ul li{
    line-height: 150%;
    margin-bottom: .5rem;
    font-size: .8rem;
}
main strong {
    font-weight: 800;
    color: #000;
}
main em {
    font-weight: 300;
}
main address {
    font-style: normal;
    background-color: #a35042;
    padding: .5rem;
}

/*footer*/

footer {
    color: #efefef;
    background-color: #2e3440;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    border-top: .2rem solid #000;
    border-radius: .5rem;
    
    
}
footer p {
    margin: 0;
    letter-spacing: 3px;
}
footer a:hover {
    color: red;
}